<template>
  <div class="footer">
    <b-container class="footer_wrapper">
      <b-row>
        <b-col>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            cupiditate eius similique nam impedit debitis, corrupti laboriosam
            quo amet excepturi laudantium deleniti. Voluptatibus iste quod
            molestiae ipsum in rem totam.
          </p>
        </b-col>
        <b-col>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            cupiditate eius similique nam impedit debitis, corrupti laboriosam
            quo amet excepturi laudantium deleniti. Voluptatibus iste quod
            molestiae ipsum in rem totam.
          </p>
        </b-col>
        <b-col>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
            cupiditate eius similique nam impedit debitis, corrupti laboriosam
            quo amet excepturi laudantium deleniti. Voluptatibus iste quod
            molestiae ipsum in rem totam.
          </p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.footer {
  background-color: $color-gray-dark;
  color: white;
  padding: $gutter-half $gutter-half;
  min-height: $footer-hight;
}
</style>
