<template>
  <main class="home page">
    <b-container>
      <h2>Exo RxPlayer</h2>
      <Rxplayer :param="param1" />
      <h2 class="my-5">demo utilisation player</h2>
      <Rxplayer :param="param2" />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa fugit
        nesciunt rem. Minus, necessitatibus exercitationem iste deleniti totam
        hic tempora quia perferendis placeat eum omnis, nisi ducimus laudantium
        eos facilis.
      </p>
    </b-container>
  </main>
</template>

<script>
import Rxplayer from "@/components/molecules/Rxplayer.vue";

export default {
  components: { Rxplayer },
  data() {
    return {
      param1: {
        idVideo: "exoVideo",
        sourceUrl:
          "https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
        apiInfoUrl: "https://oneplayer-tech-test.herokuapp.com/",
        playerConfig: {},
      },
      param2: {
        idVideo: "demoVideo",
        sourceUrl:
          "https://awevideo.s3.amazonaws.com/video-9542035-4dc2043998547151c6647c770def12e2.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJSCJQ2NM3XLFPVKA%2F20220620%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220620T114032Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=3efd1ec43ec618faa31e17471bd66bdbda75ce007a8591e76bc43d7d7945a989",
        // https://awevideo.s3.amazonaws.com/video-9542035-4dc2043998547151c6647c770def12e2.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJSCJQ2NM3XLFPVKA%2F20220620%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220620T114032Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=3efd1ec43ec618faa31e17471bd66bdbda75ce007a8591e76bc43d7d7945a989
        apiInfoUrl: null,
        playerConfig: {},
      },
    };
  },
};
/*
@Component({
  components: { LandingCarousel },
})
export default class HomeView extends Vue {}*/
</script>

<style scoped lang="scss"></style>
