* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: $fz-default; // 14px
  line-height: 1.4;
  font-family: $font-family-default;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  text-align: justify;
  @include padding($gutter-half null);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

// icon svg de btsrtVue :
* > svg {
  width: 100%;
  height: 100%;
}

// globale layout
#app {
  // flex-direction: column;
  height: 100%;
  main.page {
    min-height: calc(100% - (#{$header-hight} + #{$footer-hight}));
    @include padding($gutter-half null); // mixin from bourbon lib
  }
}

// form surcharge
.form-group {
  // padding: $gutter-half;
  #{$all-text-inputs},
  select {
    font-size: $fz-default;
  }

 
}
.form-control {
  &--error { 
    border: solid 1px red;
  }
}
